<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Lista Telefônica</title>
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
    <style>
        .jumbotron {
            width: 400px;
            text-align: center;
            /* Duas margens auto centraliza o elemento. */
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }
        .table {
            margin-top: 20px;
        }
        .form-control {
            margin-bottom: 5px;
        }
        .fundo_selecionado {
            background-color: khaki;
        }
        .texto_selecionado {
            color: brown;
            font-weight: bold;
        }
    </style>

    <script src="lib/bootstrap/jquery-3.2.1.slim.min.js"></script>
    <script src="lib/bootstrap/popper.min.js"></script>
    <script src="lib/bootstrap/bootstrap.min.js"></script>

    <script src="lib/angular/angular.min.js"></script>

    <script>
        angular.module('listaTelefonica', []);

        angular.module('listaTelefonica')
            .controller(
                'listaTelefonicaCtrl', 
                function($scope) {
                    $scope.app = "Lista Telefônica";
                    $scope.contatos = [
                        { nome : "Pedro", telefone: "99999-8888", cor : "blue"},
                        { nome : "Ana", telefone: "99999-7777", cor : "yellow"},
                        { nome : "Maria", telefone: "99999-6666", cor : "red"},
                    ];
                    /*
                        Três formas de passar objeto para uma função:
                        1)  Ruim: buscar valores de fora da função, de variáveis globais.
                            Isso dificulta testes unitários, porque eles vão depender da 
                            atribuição dessas variáveis globais.
                        2)  Média: declarar todos os parâmetros na assinatura da função.
                            Isso é ruim porque é pouco abstrato, você acaba tendo mais 
                            variáveis para gerenciar.
                        3)  Boa: declarar na função apenas o parâmetro que representa a
                            entidade toda. Isso facilita a mudança do código.
                    */
                    $scope.operadoras = [
                        { nome: "Oi", codigo: 14, categoria : "Celular" },
                        { nome: "Vivo", codigo: 15, categoria : "Celular" },
                        { nome: "Tim", codigo: 41, categoria : "Celular" },
                        { nome: "GVT", codigo: 25, categoria : "Fixo" },
                        { nome: "Embratel", codigo: 21, categoria : "Fixo" },
                    ]
                    $scope.adicionarContato = function (contato) {
                        /* 
                            A função angular.copy(obj) cria uma cópia de obj, para 
                            evitar bindings com outros elementos que estejam no escopo.
                        */
                        $scope.contatos.push(angular.copy(contato));
                        // Esvazia o objeto (na verdade é de-setada).
                        delete($scope.contato);
                    };
                    $scope.apagarContatos = function(contatos) {
                        $scope.contatos = contatos.filter(function (contato) {
                            if (!contato.selecionado) return contato;
                        })
                    };
                    $scope.isContatoSelecionado = function(contatos) {
                        return contatos.some(function (contato) {
                            return contato.selecionado;
                        });
                    }
                },
            );
    </script>
</head>
<body ng-controller="listaTelefonicaCtrl"> 
    <div class="jumbotron">
        <!-- 
            ng-bind é usado na tag, e substitui uma interpolação.
            O benefício da diretiva ng-bind sobre a interpolação é que
            a interpolação pode exibir a lógica da aplicação, se hover 
            problemas no carregamento do JavaScript. Em compensação, usar
            interpolação é mais explícito e claro para o desenvolvedor.
        -->
        <h3 ng-bind="app"></h3>
        <table ng-show="contatos.length > 0" class="table">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
                <th></th>
            </tr>
            <!-- 
                ng-repeat: dentro da diretiva use a sintaxe "<obj> in <col>".
             -->
            <tr ng-class="{fundo_selecionado: contato.selecionado, texto_selecionado: contato.selecionado}" ng-repeat="contato in contatos">
                <!-- 
                    Outra sintaxe para ng-repeat: "<(key, val)> in <col>".
                    No JSON de contatos, a chave é nome, e o valor é telefone:

                    <td ng-repeat="(key, value) in contato">
                        {{ key + ' - ' + value }}
                    </td>
                -->
                <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                <td>{{ contato.nome }}</td>
                <td>{{ contato.telefone }}</td>
                <td>{{ contato.operadora.nome }}</td>
                <td>
                    <div style="width: 30px; height: 30px;"
                        ng-style="{'background-color' : contato.cor}"
                    ></div>
                </td>
            </tr>
        </table>
        <hr/>
        <!-- 
            Two-way data-binding: sempre que há uma atualização num ngModel, 
            ela é propagada em elementos com outras diretivas (por exemplo,
            ngBind, ngRepeat etc.).
        -->
        <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome">
        <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone">
        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">
            <option value="">Selecione uma operadora</option>
        </select>
        <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!(contato.nome&&contato.telefone)">Adicionar Contato</button>
        <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-hide="!isContatoSelecionado(contatos)">Apagar Contatos</button>
    </div>
    <div ng-include="'footer.html'"></div>    
</body>
</html>
